.vignetteAnimate {
	width:64px;
	height:64px;
	margin: 10px auto;
	background-color:#000;
	border:1px solid #333;
	background-repeat:no-repeat;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 2px 2px 4px #CCC;
	-webkit-box-shadow: 2px 2px 4px #CCC;
}
.imageSort {
	padding:12px;
	background-color:#000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 2px 2px 4px #CCC;
	-webkit-box-shadow: 2px 2px 4px #CCC;
}
.vign_mod {
	margin:2px;
	border:1px solid #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color:#FFF;
	padding:2px;
	cursor:pointer;
}

.vign_mod:hover {
	background-color:#E9E9E9;
	border:1px solid #FC0;
}

.selected {
	background-color:#FC3;
}